<div class="min-h-screen flex flex-col">
  <app-navbar class="xs:hidden lg:block"></app-navbar>
  <main class="flex-grow">
    <app-hero [isMobileView]="isMobileView"></app-hero>
    <div class=" flex flex-col items-center justify-start my-28">
      <!-- Header Section -->
      <div class="p-6 lg:max-w-[1280px] lg:text-[50px] sm:text-lg	xs:text-lg">
        <h1 class="text-purple-600 lg:leading-[57.15px] xs:leading-[20.57px]">
          Prova com 10 questões gerais sobre a matéria de ciências humanas.

          <br />
        </h1>
        <h2 class="text-purple-600 lg:leading-[130.15px] xs:leading-[20.57px] mt-4">
          O que são as Ciências Humanas?
        </h2>
        <p class="text-purple-600 lg:leading-[57.15px] mt-4 xs:leading-[20.57px]">
          A área das Ciências Humanas é o conjunto de ciências que tem como
          objeto de estudo o ser humano. Entre as ciências da área de humanas,
          estão a Filosofia, Sociologia ou Ciências Sociais, História,
          Geografia, Letras, Teologia, Antropologia, Comunicação Social,
          Psicologia, Linguística, Artes, entre outras.
        </p>
      </div>

      <!-- Form Section -->
      <div class="mt-10 text-center">
        <h3 class="lg:text-[60px] sm:text-[30px] xs:text-[30px] text-purple-600">Cadastro</h3>
        <form
          class="mt-6 mb-8 flex flex-col space-y-4 text-center xs:items-center justify-center"
        >
          <!-- Name Input -->
          <input
            type="text"
            placeholder="nome 15"
            class="lg:w-[670px] sm:w-[213.34px] xs:w-[213.34px] lg:h-[67.5px] xs:h-[33.75px] p-3 text-center !font-PoppinsLight lg:text-[40px] xs:text-[18px] sm:placeholder:text-[18px] lg:placeholder:text-[40px] leading-[60px] rounded-full bg-[#A29BFE] placeholder:text-white text-white text-white"
          />
          <!-- Email Input -->
          <input
            type="email"
            placeholder="email"
            class="lg:w-[670px] sm:w-[213.34px] xs:w-[213.34px] lg:h-[67.5px] xs:h-[33.75px] p-3 text-center !font-PoppinsLight lg:text-[40px] xs:text-[18px] sm:placeholder:text-[18px] lg:placeholder:text-[40px] leading-[60px] rounded-full bg-[#A29BFE] placeholder:text-white text-white text-white"
          />
          <!-- Password Input -->
          <input
            type="password"
            placeholder="senha"
            class="lg:w-[670px] sm:w-[213.34px] xs:w-[213.34px] lg:h-[67.5px] xs:h-[33.75px] p-3 text-center !font-PoppinsLight lg:text-[40px] xs:text-[18px] sm:placeholder:text-[18px] lg:placeholder:text-[40px] leading-[60px] rounded-full bg-[#A29BFE] placeholder:text-white text-white text-white"
          />
          <!-- Submit Button -->
        </form>
        <p class="mt-4 text-purple-600 !font-PoppinsLight lg:text-[40px] xs:text-[18px]">
          Já tem uma conta?
        </p>

        <button
          type="submit"
          class="lg:w-[305.67px] lg:h-[67.5px] xs:w-[213.34px] xs:h-[33.75px] lg:text-[40px] xs:text-[20px] lg:leading-[45px] xs:leading-[10px] p-3 !font-Poppins self-center rounded-[45px] bg-yellow-400 text-white hover:bg-yellow-500"
        >
          Concluir
        </button>
      </div>
    </div>
  </main>
  <app-footer [isMobileView]="isMobileView"></app-footer>
</div>
